{% set urls = [] %}
{% for e in craft.entries|all %}
  {% set urls = urls | merge([alias('@siteUrl') ~ e.url]) %}
{% endfor %}
{{urls | json_encode |raw }}

{# <hr/>
siteUrl: {{siteUrl}}
@web: {{alias('@web')}}
@assetUrl: {{alias('@assetUrl')}}
@siteUrl: {{alias('@siteUrl')}} #}