$primary-color: #142b59; // that dark blue
$neutral-color: #ced4de; // bluey gray.
$cta: #c20030; // red

$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
);
