// ********** Variables ********** //
$screen-xs-min:         480px;
$screen-sm-min:         768px;
$screen-md-min:         992px;
$screen-lg-min:         1200px;
$screen-xl-min:         1500px;

$screen-xs-max:         $screen-sm-min - 1;
$screen-sm-max:         $screen-md-min - 1;
$screen-md-max:         $screen-lg-min - 1;
$screen-lg-max:         $screen-xl-min - 1;

$page-inset-height:     -180px;

// grid.scss - Flexbox Grid System - https://github.com/EmersonStone/es-flexboxgrid-sass

// ********** Configuration ********** //
$grid-columns: 24 !default; // Set the default number of columns.
$gutter-width: 30px !default; // Set the gutter between columns.
$outer-margin: 30px !default; // Set a margin for the container sides.

// breakpoints
// format: name size container
$breakpoints:
  xs 480px  100%,
  sm 768px  720px,
  md 992px  940px,
  lg 1200px 1100px,
  xl 1500px 1400px;

$flexboxgrid-max-width: 1200px !default;

// ********** Base ********** //
$gutter-compensation: $gutter-width * .5 * -1;
$half-gutter-width: $gutter-width * .5;

.wrapper {
  box-sizing: border-box;
  max-width: $flexboxgrid-max-width;
  margin: 0 auto;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: $outer-margin;
  padding-left: $outer-margin;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: row;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    margin-right: $gutter-compensation;
    margin-left: $gutter-compensation;
  }

  &.-span {
    margin-left: 0;
    margin-right: 0;
  }
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

@mixin flexboxgrid-sass-col-common {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  // flex-basis: auto;
  @media screen and (min-width: 768px) {
    padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;
  }
}

[class^=col-] {

  &.-span {
    padding-left: 0;
    padding-right: 0;
  }
}

$name: xs;
.col-#{$name} {
  @include flexboxgrid-sass-col-common;
}
@for $i from 1 through $grid-columns {
  .col-#{$name}-#{$i} {
    @include flexboxgrid-sass-col-common;
    flex-basis: (100% / $grid-columns * $i);
    max-width: 100% / $grid-columns * $i;
  }

  .col-#{$name}-half {
    @include flexboxgrid-sass-col-common;
    flex-basis: 1 / 2 * 100%;
    max-width: 1 / 2 * 100%;
  }

  .col-#{$name}-third {
    @include flexboxgrid-sass-col-common;
    flex-basis: 1 / 3 * 100%;
    max-width: 1 / 3 * 100%;
  }

  .col-#{$name}-quarter {
    @include flexboxgrid-sass-col-common;
    flex-basis: 1 / 4 * 100%;
    max-width: 1 / 4 * 100%;
  }

  .col-#{$name}-fifth {
    @include flexboxgrid-sass-col-common;
    flex-basis: 1 / 5 * 100%;
    max-width: 1 / 5 * 100%;
  }

  .col-#{$name}-eigth {
    @include flexboxgrid-sass-col-common;
    flex-basis: 1 / 8 * 100%;
    max-width: 1 / 8 * 100%;
  }
}
@for $i from 1 through $grid-columns {
  .col-#{$name}-offset-#{$i} {
    @include flexboxgrid-sass-col-common;
    margin-left: 100% / $grid-columns * $i;
  }

  .col-#{$name}-offset-half {
    @include flexboxgrid-sass-col-common;
    margin-left: 1 / 2 * 100%;
  }

  .col-#{$name}-offset-third {
    @include flexboxgrid-sass-col-common;
    margin-left: 1 / 3 * 100%;
  }

  .col-#{$name}-offset-quarter {
    @include flexboxgrid-sass-col-common;
    margin-left: 1 / 4 * 100%;
  }

  .col-#{$name}-offset-fifth {
    @include flexboxgrid-sass-col-common;
    margin-left: 1 / 5 * 100%;
  }

  .col-#{$name}-offset-eigth {
    @include flexboxgrid-sass-col-common;
    margin-left: 1 / 8 * 100%;
  }
}
.col-#{$name} {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.start-#{$name} {
  justify-content: flex-start;
  text-align: start;
}

.hide-#{$name} {
  display: none;
}

.show-#{$name} {
  display: inherit;
}

.center-#{$name} {
  justify-content: center;
  text-align: center;
}

.end-#{$name} {
  justify-content: flex-end;
  text-align: end;
}

.top-#{$name} {
  align-items: flex-start;
}

.middle-#{$name} {
  align-items: center;
}

.bottom-#{$name} {
  align-items: flex-end;
}

.around-#{$name} {
  justify-content: space-around;
}

.between-#{$name} {
  justify-content: space-between;
}

.first-#{$name} {
  order: -1;
}

.last-#{$name} {
  order: 1;
}

@for $i from 1 through $grid-columns {
  .order-#{$name}-#{$i} {
    order: 1;
  }
}

.text-left-#{$name} {
  text-align: left;
}

.text-center-#{$name} {
  text-align: center;
}

.text-right-#{$name} {
  text-align: right;
}


@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);
  $container: nth($breakpoint, 3);
  @media only screen and (min-width: $size) {
    .container {
      margin-left: auto;
      margin-right: auto;
      width: $container;
    }

    .col-#{$name} {
      @include flexboxgrid-sass-col-common;
    }
    @for $i from 1 through $grid-columns {
      .col-#{$name}-#{$i} {
        @include flexboxgrid-sass-col-common;
        flex-basis: (100% / $grid-columns * $i);
        max-width: 100% / $grid-columns * $i;
      }

      .col-#{$name}-half {
        @include flexboxgrid-sass-col-common;
        flex-basis: 1 / 2 * 100%;
        max-width: 1 / 2 * 100%;
      }

      .col-#{$name}-third {
        @include flexboxgrid-sass-col-common;
        flex-basis: 1 / 3 * 100%;
        max-width: 1 / 3 * 100%;
      }

      .col-#{$name}-quarter {
        @include flexboxgrid-sass-col-common;
        flex-basis: 1 / 4 * 100%;
        max-width: 1 / 4 * 100%;
      }

      .col-#{$name}-fifth {
        @include flexboxgrid-sass-col-common;
        flex-basis: 1 / 5 * 100%;
        max-width: 1 / 5 * 100%;
      }

      .col-#{$name}-eigth {
        @include flexboxgrid-sass-col-common;
        flex-basis: 1 / 8 * 100%;
        max-width: 1 / 8 * 100%;
      }
    }
    @for $i from 1 through $grid-columns {
      .col-#{$name}-offset-#{$i} {
        @include flexboxgrid-sass-col-common;
        margin-left: 100% / $grid-columns * $i
      }

      .col-#{$name}-offset-half {
        @include flexboxgrid-sass-col-common;
        margin-left: 1 / 2 * 100%;
      }

      .col-#{$name}-offset-third {
        @include flexboxgrid-sass-col-common;
        margin-left: 1 / 3 * 100%;
      }

      .col-#{$name}-offset-quarter {
        @include flexboxgrid-sass-col-common;
        margin-left: 1 / 4 * 100%;
      }

      .col-#{$name}-offset-fifth {
        @include flexboxgrid-sass-col-common;
        margin-left: 1 / 5 * 100%;
      }

      .col-#{$name}-offset-eigth {
        @include flexboxgrid-sass-col-common;
        margin-left: 1 / 8 * 100%;
      }
    }
    .col-#{$name} {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
    }

    .start-#{$name} {
      justify-content: flex-start;
      text-align: start;
    }

    .center-#{$name} {
      justify-content: center;
      text-align: center;
    }

    .end-#{$name} {
      justify-content: flex-end;
      text-align: end;
    }

    .top-#{$name} {
      align-items: flex-start;
    }

    .middle-#{$name} {
      align-items: center;
    }

    .bottom-#{$name} {
      align-items: flex-end;
    }

    .around-#{$name} {
      justify-content: space-around;
    }

    .between-#{$name} {
      justify-content: space-between;
    }

    .first-#{$name} {
      order: -1;
    }

    .last-#{$name} {
      order: 1;
    }

    @for $i from 1 through $grid-columns {
      .order-#{$name}-#{$i} {
        order: 1;
      }
    }

    .text-left-#{$name} {
      text-align: left;
    }

    .text-center-#{$name} {
      text-align: center;
    }

    .text-right-#{$name} {
      text-align: right;
    }
  }

  @media only screen and (max-width: $size - 1px) {

    .hide-#{$name} {
      display: none;
    }

    .show-#{$name} {
      display: inherit;
    }
  }
}

.container {
  @media (max-width: $screen-xs-max) {
    padding: 0 15px;
  }
}
