h1 {
  font-size: 2.5rem;
  line-height: 1;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
  line-height: 1;
  padding-top: 1.25rem; // even w/ h1
  padding-bottom: 0;
  margin: 0;
}

p {
  margin: 0;
}