.content {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #f7f7f7;
  background-color: white;
  box-shadow: 0 7px 6px -6px #777;
  max-width: 910px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5;

  position: relative;
  top: -65px;

  @include mq($from: tablet) {
    padding-top: 80px;
    padding-left: 65px;
    padding-right: 180px;
    padding-bottom: 70px;
  }
}