.footer {
  background-color: $primary-color;
  color: white;
  font-size: .8rem;
  font-weight: lighter;
  text-align: center;

  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}