.header {
  background-color: white;
  position: relative;
  &__hero {
    height: 256px;
    background-color: green; // pending image
  }
  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 39px;
    padding-right: 90px;
  }
  &__logo {
    // we will want candidate logo here, but for now it's text
    width: 200px;
    height: 135px;
    position: absolute;
    top: 32px; left: 24px;
    background-color: $primary-color;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 1.5rem;
  }

  &__nav {
    font-weight: bold;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}