.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  &__drop {
    position: relative;
    // dropdown nav element. Has span and ul
    // is js-closed or not
    &>ul {
      position: absolute;
    }
    &.js-closed {
      &>ul { display: none; }
    }
  }
  &>li {
    padding-right: 1em; padding-left: 1em;
  }
}