.two-col {
  &__heading {
    padding-bottom: 3rem;
  }

  @include mq($from: tablet) {
    display: flex;
    justify-content: space-between;
  }
  &__main {
    order: 2;
    flex-grow: 2;
    padding-left: 20px;
  }
  &__minor {
    order: 1;
    flex-grow: 1;
    padding-right: 20px;
  }
}
