<!DOCTYPE html>
{% import '_macros/boilerplate' as m_boilerplate %}
{% import '_macros/footer' as m_footer %}
{% import '_macros/header' as m_header %}

<html lang="en">
<head>
  <!--[if IE]><![endif]--><!-- IE9 performance fix -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ m_boilerplate.title(entry ?? null) }}
  {{ m_boilerplate.favicons() }}

  {{ m_boilerplate.css() }}
</head>

<body class="{% block bodyClass %}{% endblock %}">
  {% block entirePage %}
    {{ m_header.output(entry ?? null) }}
    {% block content %}{% endblock content %}

    {{ m_footer.output(entry ?? null) }}
    {{ m_boilerplate.js(entry ?? null) }}
  {% endblock entirePage %}
</body>
</html>
