{% macro favicons() %}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#005295">
  <meta name="theme-color" content="#ffffff">
{% endmacro %}

{% macro title(entry=null) %}
  <title>{{ g_candidateConfig.firstName }} {{ g_candidateConfig.lastName }} for {{ g_candidateConfig.office }}</title>
{% endmacro %}

{% macro css() %}
  <link rel="stylesheet" href="{{craft.app.config.general.cloudAssetsPath}}css/style.css ">
{% endmacro %}

{% macro js() %}
  <script src="{{craft.app.config.general.cloudAssetsPath}}js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="{{craft.app.config.general.cloudAssetsPath}}js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
  <!-- todo: use gulp js build -->
  <script src="{{craft.app.config.general.cloudAssetsPath}}js/plugins.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
{% endmacro %}
