{% macro output(content) %}
{% from '_macros/img' import img as m_img %}
  <div class="rich-text">
    {% for b in content|all %}
      {% switch b.type.handle %}
      
        {% case 'text' %}
          {% if b.heading %}<h2>{{b.heading}}</h2>{% endif %}
          {{b.text}}

        {% case 'image' %}
          <figure>
            {{ m_img(b.image|one, 'content') }}
            <figcaption>{{b.caption}}</figcaption>
          </figure>
      
      {% endswitch %}
      
    {% endfor %}
  </div>
{% endmacro %}