{% macro output(entry=null) %}
  <footer class="footer">
    <div class="footer__details">
      <div class="rich-text">
        <p>Paid for by Friends of {{g_candidateConfig.firstName }} {{ g_candidateConfig.lastName }} for {{ g_candidateConfig.office }}</p>
        <p>2187 Finn Street, Suite 1138<br>Los Angeles, CA 12345</p>
      </div>
    </div>
    <div class="footer__ragtag">
      empowered by ragtag
    </div>
  </footer>
{% endmacro %}