{% macro output(entry=null) %}
   <header class="header">
    <a href="{{siteUrl}}">
      <div class="header__logo">
        {{g_candidateConfig.firstName }} {{g_candidateConfig.lastName }}
      </div>
    </a>
    <div class="header__content">
      <nav class="header__nav">
        <ul class="nav">
          {% set issues = craft.entries.section('issue')|all %}
          {% if issues %}
            <li class="nav__drop js-closed">
              <span>Issues</span>
              <ul>
                {% for issue in issues %}
                  <li><a href="{{issue.url}}">{{issue.title}}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
          {% for page in craft.entries.section('page')|all %}
            <li><a href="{{page.url}}">{{page.title}}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <button class="header__cta cta">
        Donate
      </button>
    </div>
    <div class="header__hero">
    </div>
  </header> 
{% endmacro %}