{% macro img(asset, style=null, attributes={}) %}
  {% if asset %}
    {% set attributes = attributes | merge({'data-style': style ?? 'default'}) %}
    <img
      src="{{asset.getUrl()}}"
      {% for key, value in attributes %}
        {{key}}="{{value}}"
      {% endfor %}
    >
  {% endif %}
{% endmacro %}