{% extends '_layouts/candidate' %}
{% import '_macros/content' as m_content %}

{% block content %}
  <main class="content">
    {{ m_content.output(entry.pageContent) }}
  </main>
{% endblock content %}