{% extends '_layouts/candidate' %}
{% import '_macros/content' as m_content %}

{% block content %}
  <div class="content two-col">
    <main class="two-col__main">
      <h1 class="two-col__heading">{{entry.title}}</h1>
      {{ m_content.output(entry.pageContent) }}
    </main>
    <div class="two-col__minor">
      <h2 class="two-col__heading">Issues</h2>
      {% for issue in craft.entries.section('issue')|all %}
        <a href="{{issue.url}}">{{issue.title}}</a><br>
      {% endfor %}
    </div>
  </div>
{% endblock content %}